.contact-header {
  margin-bottom: 6rem;
  font-size: 4rem;
}

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.contact-links {
  margin-bottom: 6rem;
  display: flex;
  gap: 8vw;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-link-svg {
  width: 3rem;
  height: 3rem;

  opacity: 0.7;
  transition: opacity 0.2s, transform 0.2s;
}

.contact-link-svg:hover {
  transform: scale(1.1);
  opacity: 1;
}