body {
  background-color: black;
  height: 100vh;
  margin: 0rem;
  overflow: hidden; 
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 18vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, lightblue, rgb(0, 153, 255));
  animation: rotate 20s infinite;
  opacity: 1.0;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}


.name {
  font-family: 'Space Mono', monospace;
  font-size: clamp(3rem, 7vw, 10rem);
  color: white;
  white-space: nowrap;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  margin: 0rem;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 3;
}

.hello {
  font-family: 'Space Mono', monospace;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  z-index: 100;
  font-weight: bold;
  margin: 0;
  left: 50%;
  top: 40%;
  translate: -50% -50%;
}

.ul {
  text-decoration: none;
  color: white;
  z-index: 3;
  margin-top: 10px;
}

.li {
  margin: 0;
  z-index: 3;
  color: white;
}